Source: asap
Section: unknown
Priority: extra
Maintainer: Malte Marquarding <Malte.Marquarding@csiro.au>
Build-Depends: python-setuptools (>= 0.6b3), python-all-dev, debhelper (>= 7), python-support (>= 0.8.4), scons (>= 1.0), casacore-dev, rpfits-dev
Standards-Version: 3.8.4
Homepage: http://svn.atnf.csiro.au/trac/asap
XS-Python-Version: current

Package: python-asap
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-matplotlib (>= 0.99.1), libboost-python1.42.0, ipython (>= 0.8), python-numpy (>= 1.3),libatlas3gf-base, libblas3gf, liblapack3gf, libgfortran3, libstdc++6, casacore-dev
Description: ATNF Spectral-line Analysis Package
 A package to process and analyse spectral-line
 data from (ATNF) single-dish telescopes.

