<%!
rsc_path = ""
import os
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="title">Heuristic flagging</%block>

<div class="row-fluid">
	<h2>Initial test calibration (testBPdcals)</h2>
	
</div>

<div class="row-fluid">
	<h2>Flag bad deformatters (amp and phase)</h2>
	
</div>

<div class="row-fluid">
	<h2>Flag spws (ucalspw)</h2>
	
</div>

<div class="row-fluid">
	<h2>RFI flagging (using rflag)</h2>
	
</div>

<div class="row-fluid">
	<h2>First semi-final calibrations</h2>
	
</div>

<div class="row-fluid">
	<h2>RFI flagging (using rflag)</h2>
	
</div>

<div class="row-fluid">
	<h2>Second semi-final calibrations</h2>
	
</div>

<div class="row-fluid">
	<h2>Flag spws</h2>
	
</div>

