<%!
import os.path
import pipeline.infrastructure.casatools as casatools
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.utils as utils

columns = {'cleanmask' : 'Clean Mask',
		   'flux' : 'Flux',
		   'image' : 'Image',
		   'residual' : 'Residual',
		   'model' : 'Final Model',
		   'psf' : 'PSF'}

colorder = ['image', 'residual', 'cleanmask']

def get_plot(plots, field, spw, i, colname):
	try:
		return plots[field][spw][i][colname]
	except KeyError:
		return None
%>

<%inherit file="t2-4m_details-base.html"/>
<%block name="header" />

<%block name="title">Clean/CleanList</%block>

<h2>Image Details</h2>

%if not len(result[0].targets):
    <p>There are no clean results.
%else:
    <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>field</th>
                    <th>spw</th>
                    <th>pol</th>
                    <th>image details</th>
                    <th>image result</th>
                </tr>
                </thead>
                <tbody>

                <%
                ## get sorted key lists so that table entries are ordered
                fields = sorted(set([k[0] for k in info_dict.keys()]))
                spws = sorted(set([int(k[1]) for k in info_dict.keys()]))
                pols = sorted(set([k[2] for k in info_dict.keys()]))
                %>
                % for field in fields:
                    % for spw in spws:
                        % for pol in pols:
                            <tr>
                                <td rowspan="2">${field}</td>
                                <td rowspan="2">${spw}</td>
                                <td rowspan="2">${pol}</td>
                                <td>
                                    <table>
                                    <thead>
                                        <tr>
                                            <th>frequency</th>
                                            <th>beam major axis</th>
                                            <th>beam minor axis</th>
                                            <th>beam p.a.</th> 
                                            <th>image maximum </th>
                                            <th>image rms</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>${casatools.quanta.tos(info_dict[(field,str(spw),pol,'frequency')], 4)}</td>
                            %if info_dict.get((field,str(spw),pol,'beam major')) is not None:
                                            <td>${casatools.quanta.tos(info_dict[(field,str(spw),pol,'beam major')],2)}</td>
                            %else:
                                            <td>-</td>
                            %endif
                            %if info_dict.get((field,str(spw),pol,'beam minor')) is not None:
                                            <td>${casatools.quanta.tos(info_dict[(field,str(spw),pol,'beam minor')],2)}</td>
                            %else:
                                            <td>-</td>
                            %endif
                            %if info_dict.get((field,str(spw),pol,'beam pa')) is not None:
                                            <td>${casatools.quanta.tos(info_dict[(field,str(spw),pol,'beam pa')],1)}</td>
                            %else:
                                            <td>-</td>
                            %endif
                            %if info_dict.get((field,str(spw),pol,'max')) is not None:
                                            <td>${'%.2e %s' % (info_dict[(field,str(spw),pol,'max')],
                                                info_dict[(field,str(spw),pol,'brightness unit')])}</td>
                            %else:
                                            <td>-</td>
                            %endif
                            %if info_dict.get((field,str(spw),pol,'image rms')) is not None:
                                            <td>${'%.2e %s' % (info_dict[(field,str(spw),pol,'image rms')],
                                                info_dict[(field,str(spw),pol,'brightness unit')])}</td>
                            %else:
                                            <td>-</td>
                            %endif
                                        </tr>
                                    </tbody>
                                    </table>
                                </td>

                            <% final_iter = sorted(plots_dict[field][str(spw)].keys())[-1]%>
                            <% plot = get_plot(plots_dict, field, str(spw), final_iter, 'image') %>
                            % if plot is not None:
                                <%
                                renderer = hr.CleanPlotsRenderer(pcontext, result, plots_dict, field, str(spw), pol)
                                with renderer.get_file() as fileobj:
                                    fileobj.write(renderer.render())
                                %>
                                <td rowspan="2">
                                   <a class="replace" href="${os.path.relpath(renderer.path, pcontext.report_dir)}">
                                     <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
                                       title="Iteration ${final_iter}: image"
                                       alt="Iteration ${final_iter}: image">
                                     </img>
                                   </a>
                                </td>
                            %else:
                                <td>No image available</td>
                            %endif
                            </tr>

                            <tr>
                                <td colspan="6">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>image file</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${info_dict[(field,str(spw),pol,'image name')]}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        %endfor
                    %endfor
                %endfor
                </tbody>
        </table>
%endif
