<%!
rsc_path = ""

import collections
import os.path
import pydoc
import numpy as np
import sys

import pipeline.infrastructure as infrastructure
import pipeline.infrastructure.casatools as casatools
import pipeline.infrastructure.displays as displays
import pipeline.infrastructure.filenamer as filenamer
import pipeline.infrastructure.renderer.logger as logger
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.renderer.rendererutils as hrutils

LOG = infrastructure.get_logger(__name__)

# method to output flagging percentages neatly
def percent_flagged(flagsummary):
    flagged = flagsummary.flagged
    total = flagsummary.total

    if total is 0:
        return 'N/A'
    else:
        return '%0.1f%%' % (100.0 * flagged / total)
%>

<%inherit file="t2-4m_details-base.html"/>
<%block name="title">Flag T<sub>sys</sub> calibration</%block>

<script src="${self.attr.rsc_path}resources/js/pipeline.js"></script>

<script>
$(document).ready(function() {
    // return a function that sets the SPW text field to the given spw
    var createSpwSetter = function(spw) {
        return function() {
            // trigger a change event, otherwise the filters are not changed
            $("#select-spw").select2("val", [spw]).trigger("change");
        };
    };

    // create a callback function for each overview plot that will select the
    // appropriate spw once the page has loaded
    $(".thumbnail a").each(function (i, v) {
        var o = $(v);
        var spw = o.data("spw");
        o.data("callback", createSpwSetter(spw));
    });

    $(".fancybox").fancybox({
        type: 'image',
        prevEffect: 'none',
        nextEffect: 'none',
        loop: false,
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50,
            }
        }
    });
});
</script>


## generate the plots
<%
steps = ['nmedian', 'derivative', 'edgechans', 'fieldshape', 'birdies']

try:
    r = result[0]
    stage_dir = os.path.join(pcontext.report_dir, 'stage%d' % (r.stage_number))
    plots_dir = stage_dir
    if not os.path.exists(plots_dir):
        os.mkdir(plots_dir)

    plot_groups = collections.OrderedDict()
    components = r.components.keys()

    LOG.info('Plotting')
    for component in components:

        # generate the plots
        plots = []
        for msresult in result:
            r = msresult.components[component]

            if component in ['nmedian','derivative','fieldshape'] and r.view:
                # image to display
                # plot() returns the list of Plots it has generated
                plots.append(displays.ImageDisplay().plot(pcontext, r,
                  reportdir=plots_dir, prefix=component))

                # plot Tsys spectra that were flagged
                for flagcmd in r.flagcmds():
                    for description in r.descriptions():
                        tsysspectra = r.first(description).children.get(
                          'tsysspectra')
                        if tsysspectra is None:
                            continue

                        for tsys_desc in tsysspectra.descriptions():
                            tsysspectrum = tsysspectra.first(tsys_desc)

                            if not flagcmd.match(tsysspectrum):
                                continue

                            # have found flagged spectrum, now get
                            # associated median spectrum
                            medians = r.last(description).children.get(
                              'tsysmedians')

                            for median_desc in medians.descriptions():
                                median_spectrum = medians.first(median_desc)
                                if median_spectrum.ant is None or \
                                  median_spectrum.ant[0]==tsysspectrum.ant[0]:
                                    # do the plot
                                    plots.append(displays.SliceDisplay().plot(
                                      context=pcontext, results=tsysspectra,
                                      description_to_plot=tsys_desc,
                                      overplot_spectrum=median_spectrum,
                                      reportdir=plots_dir, plotbad=False))
                                    break

            elif component in ['edgechans','birdies'] and r.view:
                plots.append(displays.SliceDisplay().plot(pcontext, r,
                  reportdir=plots_dir, plotbad=False, plot_only_flagged=True,
                  prefix=component))

        # Group the Plots by axes and plot types; each logical grouping will
        # be contained in a PlotGroup
        plot_groups[component] = logger.PlotGroup.create_plot_groups(plots)
        # Write the thumbnail pages for each plot grouping to disk
        for plot_group in plot_groups[component]:
            renderer = hr.PlotGroupRenderer(pcontext, r, plot_group,
              prefix=component)
            plot_group.filename = renderer.filename
            with renderer.get_file() as fileobj:
                fileobj.write(renderer.render())

except Exception, e:
    print 'hif_tsysflag html template exception:', e
    raise e
%>

## web display of Tsys after flagging

% if len(summary_plots) > 0:
<h3>T<sub>sys</sub> after flagging</h3>

    % for ms in summary_plots:
    <h4><a class="replace"
           href="${os.path.relpath(os.path.join(dirname, summary_subpage[ms]), pcontext.report_dir)}">${ms}</a>
    </h4>
    <ul class="thumbnails">
        % for plot in summary_plots[ms]:
            % if os.path.exists(plot.thumbnail):
            <li class="span3">
                <div class="thumbnail">
                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
                       class="fancybox"
                       rel="tsys-summary-${ms}">
                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
                             title="T<sub>sys</sub> summary for Spectral Window ${plot.parameters['spw']}"
                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
                        </img>
                    </a>

                    <div class="caption">
                    	<h4>
							<a href="${os.path.relpath(os.path.join(dirname, summary_subpage[ms]), pcontext.report_dir)}"
	                       	   class="replace"
	                           data-spw="${plot.parameters['spw']}">
	                           Spectral Window ${plot.parameters['spw']}
	                        </a>
                        </h4>

                        <p>Plot of time-averaged T<sub>sys</sub> for spectral
                            window ${plot.parameters['spw']} (T<sub>sys</sub>
                            window
                        ${plot.parameters['tsys_spw']}), coloured by antenna.
                        </p>
                    </div>
                </div>
            </li>
            % endif
        % endfor
    </ul>
    % endfor
% endif

<div class="row-fluid">
  <h2>Flagging steps</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Measurement Set</th>
% for step in steps:
        <th>${step}</th>
% endfor
      </tr>                           
    </thead>
    <tbody>
% for ms in flags.keys():
      <tr>
        <td>${ms}</td>
    % for step in steps:
        % if flags[ms][step] is None:
        <td><i class="icon-remove"></td>
        % else:
        <td><i class="icon-ok"></i></td>
        % endif
    % endfor
      </tr>
% endfor
    </tbody>
  </table>
</div>

<div class="row-fluid">
  <h2>Flagged data summary</h2>

% for ms in flags.keys():

  <h5>Table: ${ms}</h5>
  <table class="table table-bordered table-striped ">
    <caption>Summary of flagged data. Each cell states the amount of data 
             flagged as a fraction of the specified data selection, with the 
             <em>Flagging Step</em> columns giving this information per
             flagging step.
    </caption>
    <thead>
      <tr>
        <th rowspan="2">Data Selection</th>
        <!-- flags before task is always first agent -->
        <th rowspan="2">flagged before</th>
        <th colspan="${len(steps)}">Flagging Step</th>
        <th rowspan="2">flagged after</th>
      </tr>
      <tr>
    % for step in steps:
        <th>${step}</th>
    % endfor
      </tr>
    </thead>
    <tbody>
    % for k in ['TOTAL', 'BANDPASS', 'AMPLITUDE', 'PHASE', 'TARGET','ATMOSPHERE']: 
      <tr>
        <th>${k}</th>               
        % for step in ['before'] + steps + ['after']:
            % if flags[ms][step] is not None:
            ##<td>${step} ${k} ${flags[ms][step]['Summary'][k]}</td>
            <td>${percent_flagged(flags[ms][step]['Summary'][k])}</td>
            % else:
            <td>0.0%</td>
            % endif
        % endfor
      </tr>
    % endfor
    </tbody>
  </table>

% endfor

</div> 


<h2>Flag Step Details</h2>
<ul>
% for component in components: 
 <li>
  <h3>${component}</h3>

    % if component=='birdies':
        Flag spikes or birdies in Tsys spectra
    % elif component=='derivative':
        Flag Tsys spectra with high median derivative (ringing)
    % elif component=='edgechans':
        Flag edge channels of Tsys spectra
    % elif component=='fieldshape':
        Flag Tsys spectra whose shape differs from those associated with BANDPASS data
    % elif component=='nmedian':
        Flag Tsys spectra with high median values
    % else:
        Purpose unknown
    % endif

    % if htmlreports[component]:
  <h4>Flags</h4>
  <table class="table table-bordered table-striped">
	<thead>
	    <tr>
	        <th>Flagging Commands</th>
	        <th>Flagging Report</th>
	    </tr>
	</thead>
	<tbody>
	    % for file,reports in htmlreports[component].items():
	    <tr>
	        <td><a class="replace-pre" href="${reports[0]}" 
                   data-title="Flagging Commands">${file}</a></td>
	        <td><a class="replace-pre"
                   href="${reports[1]}" data-title="Flagging Report">
                   printTsysFlags</a></td>
	    </tr>
	    % endfor
	</tbody>
  </table>
    % endif
 
    % if plot_groups[component]:
  <h4>Plots</h4>
  <ul>
        % for plot_group in plot_groups[component]:
            % if component in ['nmedian','derivative','fieldshape'] and r.view:
                % if plot_group.title == 'Time vs Antenna1':
	<li>
			<a class="replace" href="${os.path.relpath(os.path.join(dirname, plot_group.filename), pcontext.report_dir)}">${plot_group.title}</a>
               shows the images used for flagging.
        </li>
                % elif 'Tsys vs Channel' in plot_group.title:
	<li>
			<a class="replace" href="${os.path.relpath(os.path.join(dirname, plot_group.filename), pcontext.report_dir)}">${plot_group.title}</a>
               shows the T<sub>sys</sub> spectra flagged in each image.
        </li>
   	        % endif
            % elif component in ['edgechans','birdies'] and r.view:
	<li>
			<a class="replace" href="${os.path.relpath(os.path.join(dirname, plot_group.filename), pcontext.report_dir)}">${plot_group.title}</a>
               shows the views used for flagging.
        </li>
            % else:
	<li>
			<a class="replace" href="${os.path.relpath(os.path.join(dirname, plot_group.filename), pcontext.report_dir)}">${plot_group.title}</a>
               shows the plots generated.
        </li>
            % endif
        % endfor
  </ul>
    % endif
 </li>
% endfor
</ul>
