ASAP Plotting Requirements

* should be based on matplotlib (installed in
  /nfs/DEBIANlocal - > /usr/local on linux)
  
* should use the Tk frontend as others are not supported
  on our systems (yet)
  
* be in interactive mode, with building of draw lists, so that it only
  refreshes once, at the end. This needs some tweaking of the code. 
  (example attached - example_delayed_plot.py)
  
* should take (x,y, mask) and transparently handle the mask. Masked data should be either blank or dashed

* should take units/labels for axis labelling, and title string

* should (auto)plot legends when overplotting

* should auto-increment colours when overplotting

* autoscaling when overplotting

* should provide panel plotting e.g, cols=Polarisations, rows=integrations

* should have position tracking (example attached - example_position_tracking.py)

* should allow region selection with cursor for both zooming and masking

* should expose general matplotlib functions for access at lower-level

* should have an OO style interface

Note:
* matplotlib has to interfaces - a functional "matlab" interface and classes. 
* matplotlib currently only works using the "TkAgg" interface, this will be until a Debian stable update is released.
"matplotlib.use('TkAgg')" should be on top of the plotting class.
* zooming has to be hardcoded using Tk events and changed later when other widgetsets will be available.
