<%!
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.displays.bandpass as bp
%>
<h1>Stage ${hr.get_stage_number(result)}: ${hr.get_task_description(result)}</h1>

<ul>
	<li>Initial display: most important details</li>
	<ul>
		<li>Heuristics parameters</li>
		<li>Plots</li>
		<li>Images</li>
		<li>Tables</li>
	</ul>
	<li>Display maximum detail in this panel, similar to previous incarnation of pipeline; use different background colour; back button will go back to initial display</li>
</ul>


<%


%>

% for r in result:

<table>
	<tr>
		<td>:</td>
		<td>${r.task}</td>
	</tr>
</table>
% endfor

Go to logs
Link to calls

