<%!
navbar_active='By Topic'
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.pipelineqa as pipelineqa
import pipeline.domain.measures as measures
import pipeline.extern.asizeof as asizeof
import pipeline.infrastructure.logging as logging

def get_bar_class(pqascore):
	score = pqascore.score
	if score in (None, '', 'N/A'):
		return ''
	elif score <= 0.1:
		return ' bar-danger'
	elif score <= 0.5:
		return ' bar-warning'
	else:
		return ' bar-success'

def get_badge_class(pqascore):
	score = pqascore.score
	if score in (None, '', 'N/A'):
		return ''
	elif score <= 0.1:
		return ' badge-important'
	elif score <= 0.5:
		return ' badge-warning'
	else:
		return ' badge-success'

def get_bar_width(pqascore):
	if pqascore.score in (None, '', 'N/A'):
		return 0
	else:
		return 100.0 * pqascore.score

def format_score(pqascore):
	if pqascore.score in (None, '', 'N/A'):
		return 'N/A'
	return '%0.2f' % pqascore.score

def get_lowest_scoring_results(topic):
	all_results_lists = topic.results_by_type.values()
	if not all_results_lists:
		return ('No tasks in this topic', pipelineqa.QAScore(None, '', ''))
		
	min_scoring_results = []
	for l in all_results_lists:
		no_na = filter(lambda z:z.qa.representative.score is not None, l)
		if no_na:
			min_result_for_task = min(no_na, 
								      key=lambda result: result.qa.representative.score)
			min_scoring_results.append(min_result_for_task)

	if not min_scoring_results:
		return ('No scoring tasks in this topic', pipelineqa.QAScore(None, '', ''))
		
	minresult = min(min_scoring_results, 
				    key=lambda result:result.qa.representative.score)
	anchor = '<a href="t2-4m.html?stage=%s">%s</a>' % (minresult.stage_number, 
												       hr.get_task_description(minresult))
	return (anchor,
			minresult.qa.representative)

tablerow_css_classes = {'QA Error'   : 'error',
						'QA Warning' : 'warning',
						'Error'      : 'error',
						'Warning'    : 'warning'}

def get_tablerow_class(row):
	return tablerow_css_classes.get(row.type, '')

%>

<%inherit file="base.html"/>

<%block name="title">Topic Summary</%block>

<div class="page-header">
<h1>Tasks by Topic</h1>
</div>

<div class="row-fluid">
	<table class="table">
		<thead>
			<tr>
				<th class="span1">Topic</th>
				<th class="span8">Lowest Scoring Task</th>
				<th class="span2">Min Score</th>
				<th class="span1"></th>
			</tr>
		</thead>
		<tbody>
			% for _, topic in registry.get_topics().items():
			<% (task_description, pqascore) = get_lowest_scoring_results(topic) %> 
			<tr>
				<td><a href="${topic.url}">${topic.description}</a></td>
				<td>${task_description}</a><span class="pull-right">${pqascore.shortmsg}</span></td>
				<td><div class="progress" style="margin-bottom:0px;"><div class="bar${get_bar_class(pqascore)}" style="width:${get_bar_width(pqascore)}%;"><span class="text-center"></span></div></div></td>
				<td><span class="badge${get_badge_class(pqascore)}">${format_score(pqascore)}</span></td>
			</tr>
			% endfor
		</tbody>
	</table>
</div>


<h3>Warnings and errors</h3>
% if tablerows:
<table class="table table-bordered table-striped table-condensed"
	   summary="Messages from tasks for this topic">
	<thead>
		<tr>
			<th>Stage</th>
			<th>Task</th>
			<th>Type</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
	% for row in tablerows:
		<tr class="${get_tablerow_class(row)}">
			<td><a href="t2-4m.html?stage=${row.stage}">${row.stage}</a></td>
			<td><a href="t2-4m.html?stage=${row.stage}">${row.task}</a></td>
			<td>${row.type}</td>
			<td>${row.message}</td>
		</tr>
	% endfor		
	</tbody>
</table>
% else:
<p>No warnings or errors were emitted for this topic.</p>
% endif






