<%!
navbar_active='By Task'
import os
import pipeline.domain.measures as measures
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.utils as utils

def get_bar_class(scores, result):
	qascore = scores[result.stage_number]
	score = qascore.score
	if score in (None, '', 'N/A'):
		return ''
	elif score <= 0.1:
		return ' bar-danger'
	elif score <= 0.5:
		return ' bar-warning'
	else:
		return ' bar-success'

def get_badge_class(scores, result):
	qascore = scores[result.stage_number]
	score = qascore.score
	if score in (None, '', 'N/A'):
		return ''
	elif score <= 0.1:
		return ' badge-important'
	elif score <= 0.5:
		return ' badge-warning'
	else:
		return ' badge-success'

def get_bar_width(scores, result):
	qascore = scores[result.stage_number]
	if qascore.score in (None, '', 'N/A'):
		return 0
	else:
		return 100.0 * qascore.score

def format_score(scores, result):
	qascore = scores[result.stage_number]
	if qascore.score in (None, '', 'N/A'):
		return 'N/A'
	return '%0.2f' % qascore.score

%>
<%inherit file="base.html"/>

<%block name="title">Task Summary</%block>

<div class="page-header">
	<h1>Task Summary</h1>
</div>

<div class="row-fluid">
	<table class="table">
		<thead>
			<tr>
				<th class="span9">Task</th>
				<th class="span2">QA Score</th>
				<th class="span1"></th>
			</tr>
		</thead>
		<tbody>
			% for result in results:
			<tr>
				<td><a href="t2-4m.html?stage=${result.stage_number}">${hr.get_task_description(result)}</a><span class="pull-right">${scores[result.stage_number].shortmsg}</span></td>
				<td><div class="progress" style="margin-bottom:0px;"><div class="bar${get_bar_class(scores, result)}" style="width:${get_bar_width(scores, result)}%;"><span class="text-center"></span></div></div></td>
				<td><span class="badge${get_badge_class(scores, result)}">${format_score(scores, result)}</span></td>
			</tr>
			% endfor
		</tbody>
	</table>
</div>

% if 'casalogs' in pcontext.logs:
<h4>CASA logs</h4>
<ul>
%for log_url in pcontext.logs['casalogs']:
<% 
   fp = os.path.join(pcontext.report_dir, log_url)
   total_bytes = os.path.getsize(fp)
   filesize = measures.FileSize(total_bytes, measures.FileSizeUnits.BYTES)
%>
	<li>download <a href="${log_url}" download="${log_url}">${log_url}</a> (${str(filesize)})</li>
%endfor
<% 
   log_url = pcontext.logs['casa_commands']
   fp = os.path.join(pcontext.report_dir, log_url)
   total_bytes = os.path.getsize(fp)
   filesize = measures.FileSize(total_bytes, measures.FileSizeUnits.BYTES)
%>
	<li>download <a href="${log_url}" download="${log_url}">${log_url}</a> (${str(filesize)})</li>
</ul>
%endif 
