<%!
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="base.html"/>

<script src="${self.attr.rsc_path}resources/base.js"></script>

<script>
$(document).ready(function(){
	// Load stage details into panel is 'stage=x' given in URL 
	var stageNum = $.url().fparam('stage');
	var stageDetailsUrl = $('a#link_stage' + stageNum).attr('href');
	if (typeof stageDetailsUrl != 'undefined')
		$('iframe[name="details"]').attr({ src : stageDetailsUrl });
});
</script>
 
<h1>${next.title()}</h1>
 
<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<iframe name="details"></iframe>
		</div>
		<div class="col2">
		% for result_cls, results in qasection.results_by_type.items():
			% if results:
				<ul>
					<li>${qasection.result_descriptions[result_cls]}</li>
					<ul>
					% for result in results:
						<li>Stage ${hr.get_stage_number(result)}: ${hr.get_task_name(result)}</li>
						<ul>
							<li><a id="link_stage${result.stage_number}" href="stage${result.stage_number}/t2-3m_details.html" target="details">QA details</a></li>
							<li><a href="t2-4m.html#stage=${result.stage_number}">Heuristics details</a></li>
						</ul>
					% endfor
					</ul>
				</ul>
			% endif				
		% endfor
		</div>
	</div>
</div>

${next.body()}
