<%!
rsc_path=''
import os
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="title">T<sub>sys</sub> Calibration</%block>

<script src="${self.attr.rsc_path}resources/js/pipeline.js"></script>

<script>
$(document).ready(function() {
    // return a function that sets the SPW text field to the given spw
    var createSpwSetter = function(spw) {
        return function() {
            // trigger a change event, otherwise the filters are not changed
            $("#select-spw").select2("val", [spw]).trigger("change");
        };
    };

    // create a callback function for each overview plot that will select the
    // appropriate spw once the page has loaded
    $(".thumbnail a").each(function (i, v) {
        var o = $(v);
        var spw = o.data("spw");
        o.data("callback", createSpwSetter(spw));
    });

    $(".fancybox").fancybox({
        type: 'image',
        prevEffect: 'none',
        nextEffect: 'none',
        loop: false,
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50,
            }
        }
    });
});
</script>

<p>This task generates a T<sub>sys</sub> calibration table, mapping each 
science spectral window to the T<sub>sys</sub> window that overlaps in 
frequency.</p>

<h2>Plots</h2>
% for ms in summary_plots:
    <h4><a class="replace"
           href="${os.path.relpath(os.path.join(dirname, 'tsys_%s.html' % ms), pcontext.report_dir)}">${ms}</a>
    </h4>
    <ul class="thumbnails">
        % for plot in summary_plots[ms]:
            % if os.path.exists(plot.thumbnail):
            <li class="span3">
                <div class="thumbnail">
                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
                       class="fancybox"
                       rel="tsys-summary-${ms}">
                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
                             title="T<sub>sys</sub> summary for Spectral Window ${plot.parameters['spw']}"
                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
                        </img>
                    </a>

                    <div class="caption">
                    	<h4>
							<a href="${os.path.relpath(os.path.join(dirname, 'tsys_%s.html' % ms), pcontext.report_dir)}"
	                       	   class="replace"
	                           data-spw="${plot.parameters['spw']}">
	                           Spectral Window ${plot.parameters['spw']}
	                        </a>
                        </h4>

                        <p>Plot of time-averaged T<sub>sys</sub> for spectral
                            window ${plot.parameters['spw']} (T<sub>sys</sub>
                            window
                        ${plot.parameters['tsys_spw']}), coloured by antenna.
                        </p>
                    </div>
                </div>
            </li>
            % endif
        % endfor
    </ul>
%endfor
