<%!
rsc_path = ""
import cgi
import os
import string
import types

import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.filenamer as filenamer
import pipeline.infrastructure.logging as logging
import pipeline.infrastructure.utils as utils

agent_description = {
	'before'   : 'Before',
	'applycal' : 'After',
}

total_keys = {
	'TOTAL'        : 'All Data',
	'SCIENCE SPWS' : 'Science Spectral Windows',
	'BANDPASS'     : 'Bandpass',
	'AMPLITUDE'    : 'Flux',
	'PHASE'        : 'Phase',
	'TARGET'       : 'Target'
}

def template_agent_header1(agent):
	span = 'col' if agent in ('online','template') else 'row'
	return '<th %sspan=2>%s</th>' % (span, agent_description[agent])

def template_agent_header2(agent):
	if agent in ('online', 'template'):
		return '<th>File</th><th>Number of Statements</th>'
	else:
		return ''		

def get_template_agents(agents):
	return [a for a in agents if a in ('online', 'template')]

def sanitise(url):
	return filenamer.sanitize(url)

%>
<%inherit file="t2-4m_details-base.html"/>

<script src="${self.attr.rsc_path}resources/js/pipeline.js"></script>
<script>
$(document).ready(function(){
    // return a function that sets the SPW text field to the given spw
    var createSelectSetter = function(val, element_id) {
    	return function() {
    		var vals = val.toString().split(',');
    		// trigger a change event, otherwise the filters are not changed
            $(element_id).select2("val", vals).trigger("change");
        };
    };
    
    // create a callback function for each overview plot that will select the
    // appropriate spw once the page has loaded
    $(".thumbnail a").each(function (i, v) {
        var o = $(v);
        var spw = o.data("spw");
        var field = o.data("field");
		if (typeof field === 'undefined') {
	        o.data("callback", createSelectSetter(spw, "#select-spw"));
		} else {
	        o.data("callback", [createSelectSetter(spw, "#select-spw"),
	                            createSelectSetter(field, "#select-field")]);
		}
    });

    $(".fancybox").fancybox({
        type: 'image',
        prevEffect: 'none',
        nextEffect: 'none',
        loop: false,
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50,
            }
        }
    });
	
	$('.caltable_popover').popover({
		  template: '<div class="popover gaintable_popover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
	});

    // fix the thumbnail margins for plots on the n>1 row
    UTILS.fixThumbnailMargins();
});
</script>

<%
# these functions are defined in template scope so we have access to the flags 
# and agents context objects

def total_for_mses(mses, row):
	flagged = 0
	total = 0
	for ms in mses:
		total += flags[ms]['before'][row].total
		for agent in flags[ms].keys():
			fs = flags[ms][agent][row]
			flagged += fs.flagged
	if total is 0:
		return 'N/A'
	else:
		return '%0.1f%%' % (100.0 * flagged / total)

def total_for_agent(agent, row, mses=flags.keys()):
	flagged = 0
	total = 0
	for ms in mses:
		if agent in flags[ms]:
			fs = flags[ms][agent][row]
			flagged += fs.flagged
			total += fs.total
		else:
			# agent was not activated for this MS. 
			total += flags[ms]['before'][row].total
	if total is 0:
		return 'N/A'
	else:
		return '%0.1f%%' % (100.0 * flagged / total)

def space_comma(s):
	return ', '.join(string.split(s, ','))

%>

<%block name="title">Apply calibration tables</%block>

<p>This task applies all calibrations registered with the pipeline to their target measurement sets.<p>


<h2>Applied calibrations</h2>
<table class="table table-bordered table-striped table-condensed"
	   summary="Applied Calibrations">
	<caption>Applied Calibrations</caption>
	<thead>
		<tr>
			<th rowspan="2">Measurement Set</th>
			<th colspan="4">Target</th>
			<th colspan="6">Calibration</th>
		</tr>
		<tr>
			<th>Intent</th>
			<th>Field</th>
			<th>Spw</th>
			<th>Antenna</th>
			<th>Type</th>
			<th>spwmap</th>
			<th>gainfield</th>
			<th>interp</th>
			<th>calwt</th>
			<th>table</th>
		</tr>
	</thead>
	<tbody>
% for vis in calapps:
	% for calapp in calapps[vis]:
		<% ca_rowspan = len(calapp.calfrom) %>
		<tr>
			<td rowspan="${ca_rowspan}">${vis}</td>
			<td rowspan="${ca_rowspan}">${space_comma(calapp.calto.intent)}</td>
			<td rowspan="${ca_rowspan}">${space_comma(calapp.calto.field)}</td>
			<td rowspan="${ca_rowspan}">${space_comma(calapp.calto.spw)}</td>
			<td rowspan="${ca_rowspan}">${space_comma(calapp.calto.antenna)}</td>
		% for calfrom in calapp.calfrom:
			<td>${caltypes[calfrom.gaintable]}</td>
			<td>${', '.join([str(i) for i in calfrom.spwmap])}</td>
			<td>${space_comma(calfrom.gainfield)}</td>
			<td>${space_comma(calfrom.interp)}</td>
			<td>${calfrom.calwt}</td>
			<td><a href="#" class="btn btn-small caltable_popover" data-toggle="popover" data-placement="top" data-content="${os.path.basename(calfrom.gaintable)}" title="" data-original-title="">View...</a></td>
		</tr>
		% endfor
	% endfor
% endfor		
	</tbody>
</table>



<h2>Flagged data after calibration application</h2>
<table class="table table-bordered table-striped "
	   summary="Flagged Data">
	<caption>Summary of measurement set flagging status after application
	of (potentially flagged) calibration tables. Each cell gives the
	amount of data flagged as a fraction of the specified data selection.
	</caption>
	<thead>
		<tr>
			<th rowspan="2">Data Selection</th>
			<!-- flags before task is always first agent -->
			<th colspan="${len(agents)+1}">% Flagged Data</th>
			<th colspan="${len(flags)}">Measurement Set</th>
		</tr>
		<tr>
%for agent in agents:
			<th>${agent_description[agent]}</th>
%endfor
			<th>Total</th>
%for ms in flags.keys():
			<th>${ms}</th>
%endfor
		</tr>
	</thead>
	<tbody>
%for k in ['TOTAL', 'SCIENCE SPWS', 'BANDPASS', 'AMPLITUDE', 'PHASE', 'TARGET']: 
		<tr>
			<th>${total_keys[k]}</th>		
	% for agent in agents:
			<td>${total_for_agent(agent, k)}</td>
	% endfor
			<td>${total_for_mses(flags.keys(), k)}</td>
	% for ms in flags.keys():
			<td>${total_for_mses([ms], k)}</td>
	% endfor		
		</tr>
%endfor
%for ms in flags.keys():
		<tr>
			<th>${ms}</th>
	% for agent in agents:
			<td>${total_for_agent(agent, 'TOTAL', [ms])}</td>
	% endfor
			<td>${total_for_mses([ms], 'TOTAL')}</td>
	% for ms in flags.keys():
			<td></td>
	% endfor
		</tr>
%endfor
	</tbody>
</table>


% if amp_vs_freq_plots or phase_vs_freq_plots or amp_vs_time_plots or amp_vs_uv_plots or phase_vs_uv_plots or phase_vs_time_plots:
<h2>Plots</h2>

%if amp_vs_freq_plots:
	<h3>Calibrated amplitude vs frequency</h3>

	% for ms in amp_vs_freq_plots:
	    <h4>
			<a class="replace"
	           href="${os.path.relpath(os.path.join(dirname, 'amp_vs_freq_%s.html' % sanitise(ms)), pcontext.report_dir)}">
	            ${ms}
	        </a>
		</h4>
		% for intent in amp_vs_freq_plots[ms]:
		    <ul class="thumbnails">
		        % for plot in amp_vs_freq_plots[ms][intent]:
		            % if os.path.exists(plot.thumbnail):
		            <li class="span3">
		                <div class="thumbnail">
		                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
		                       class="fancybox"
		                       rel="amp_vs_freq-${ms}">
		                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
		                             title="Click to show amplitude vs frequency plot for baseband ${plot.parameters['baseband']}"
		                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
		                        </img>
		                    </a>
		
		                    <div class="caption">
								<h4>
				                    <a href="${os.path.relpath(os.path.join(dirname, 'amp_vs_freq_%s.html' % sanitise(ms)), pcontext.report_dir)}"
				                       class="replace"
				                       data-field="${cgi.escape(plot.parameters['field'], True)}"
				                       data-spw="${plot.parameters['spw']}">
					                   Baseband ${plot.parameters['baseband']}
				                    </a>
								</h4>
								
		                        <p>Calibrated amplitude vs frequency for ${intent} calibrator 
		                        ${utils.commafy(utils.safe_split(plot.parameters['field']), quotes=False)}, 
		                        baseband ${plot.parameters['baseband']}, all antennas and correlations, 
		                        colored by antenna.
		                        </p>
		                    </div>
		                </div>
		            </li>
		            % endif
		        % endfor
		    </ul>
		% endfor
	%endfor
%endif

%if phase_vs_freq_plots:
	<h3>Calibrated phase vs frequency</h3>

	% for ms in phase_vs_freq_plots:
	    <h4>
			<a class="replace"
	           href="${os.path.relpath(os.path.join(dirname, 'phase_vs_freq_%s.html' % sanitise(ms)), pcontext.report_dir)}">
	            ${ms}
	        </a>
		</h4>
		% for intent in phase_vs_freq_plots[ms]:
		    <ul class="thumbnails">
		        % for plot in phase_vs_freq_plots[ms][intent]:
		            % if os.path.exists(plot.thumbnail):
		            <li class="span3">
		                <div class="thumbnail">
		                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
		                       class="fancybox"
		                       rel="phase_vs_freq-${ms}">
		                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
		                             title="Click to show phase vs frequency plot for baseband ${plot.parameters['baseband']}"
		                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
		                        </img>
		                    </a>
		
		                    <div class="caption">
								<h4>
				                    <a href="${os.path.relpath(os.path.join(dirname, 'phase_vs_freq_%s.html' % sanitise(ms)), pcontext.report_dir)}"
				                       class="replace"
				                       data-field="${cgi.escape(plot.parameters['field'], True)}"
				                       data-spw="${plot.parameters['spw']}">
					                   Baseband ${plot.parameters['baseband']}
				                    </a>
								</h4>
								
		                        <p>Calibrated phase vs frequency for ${intent} calibrator 
		                        ${utils.commafy(utils.safe_split(plot.parameters['field']))}, 
		                        baseband ${plot.parameters['baseband']}, all antennas and correlations,
		                        colored by antenna.
		                        </p>
		                    </div>
		                </div>
		            </li>
		            % endif
		        % endfor
		    </ul>
		% endfor
	%endfor
%endif


%if amp_vs_uv_plots:
	<h3>Calibrated amplitude vs UV distance</h3>

	% for ms in amp_vs_uv_plots:
	    <h4>
			<a class="replace"
	           href="${os.path.relpath(os.path.join(dirname, 'amp_vs_uv_%s.html' % sanitise(ms)), pcontext.report_dir)}">
	            ${ms}
	        </a>
		</h4>
		    <ul class="thumbnails">
		        % for plot in amp_vs_uv_plots[ms]:
		            % if os.path.exists(plot.thumbnail):
		            <li class="span3">
		                <div class="thumbnail">
		                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
		                       class="fancybox"
		                       rel="amp_vs_uv-${ms}">
		                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
		                             title="Click to show amplitude vs time plot for Spectral Window ${plot.parameters['spw']}"
		                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
		                        </img>
		                    </a>
		
		                    <div class="caption">
								<h4>
				                    <a href="${os.path.relpath(os.path.join(dirname, 'amp_vs_uv_%s.html' % sanitise(ms)), pcontext.report_dir)}"
				                       class="replace"
				                       data-spw="${plot.parameters['spw']}">
					                   Spectral Window ${plot.parameters['spw']}
				                    </a>
								</h4>
								
		                        <p>Calibrated amplitude vs UV distance for amplitude calibrator ${plot.parameters['field']} spw ${plot.parameters['spw']}, all antennas and correlations. Data are colored by correlation.
		                        </p>
		                    </div>
		                </div>
		            </li>
		            % endif
		        % endfor
		    </ul>
	%endfor
%endif

%if amp_vs_time_plots:
	<h3>Calibrated amplitude vs time</h3>

	% for ms in amp_vs_time_plots:
	    <h4>
			<a class="replace"
	           href="${os.path.relpath(os.path.join(dirname, 'amp_vs_time_%s.html' % sanitise(ms)), pcontext.report_dir)}">
	            ${ms}
	        </a>
		</h4>
		    <ul class="thumbnails">
		        % for plot in amp_vs_time_plots[ms]:
		            % if os.path.exists(plot.thumbnail):
		            <li class="span3">
		                <div class="thumbnail">
		                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
		                       class="fancybox"
		                       rel="amp_vs_time-${ms}">
		                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
		                             title="Click to show amplitude vs time plot for Spectral Window ${plot.parameters['spw']}"
		                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
		                        </img>
		                    </a>
		
		                    <div class="caption">
								<h4>
				                    <a href="${os.path.relpath(os.path.join(dirname, 'amp_vs_time_%s.html' % sanitise(ms)), pcontext.report_dir)}"
				                       class="replace"
				                       data-spw="${plot.parameters['spw']}">
					                   Spectral Window ${plot.parameters['spw']}
				                    </a>
								</h4>
								
		                        <p>Calibrated amplitude vs time for all fields, spw ${plot.parameters['spw']}, all antennas and correlations. Data are colored by field.
		                        </p>
		                    </div>
		                </div>
		            </li>
		            % endif
		        % endfor
		    </ul>
	%endfor
%endif

%if phase_vs_time_plots:
	<h3>Calibrated phase vs time</h3>

	% for ms in phase_vs_time_plots:
	    <h4>
			<a class="replace"
	           href="${os.path.relpath(os.path.join(dirname, 'phase_vs_time_%s.html' % sanitise(ms)), pcontext.report_dir)}">
	            ${ms}
	        </a>
		</h4>
		    <ul class="thumbnails">
		        % for plot in phase_vs_time_plots[ms]:
		            % if os.path.exists(plot.thumbnail):
		            <li class="span3">
		                <div class="thumbnail">
		                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
		                       class="fancybox"
		                       rel="phase_vs_time-${ms}">
		                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
		                             title="Click to show phase vs time plot for Spectral Window ${plot.parameters['spw']}"
		                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
		                        </img>
		                    </a>
		
		                    <div class="caption">
								<h4>
				                    <a href="${os.path.relpath(os.path.join(dirname, 'phase_vs_time_%s.html' % sanitise(ms)), pcontext.report_dir)}"
				                       class="replace"
				                       data-spw="${plot.parameters['spw']}">
					                   Spectral Window ${plot.parameters['spw']}
				                    </a>
								</h4>
								
		                        <p>Calibrated phase vs time for all fields, spw ${plot.parameters['spw']}, all antennas and correlations. Data are colored by field.
		                        </p>
		                    </div>
		                </div>
		            </li>
		            % endif
		        % endfor
		    </ul>
	%endfor
%endif

%endif
