<%!
rsc_path = "../"
import os

import itertools
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.renderer.logger as logger
import pipeline.infrastructure.displays as displays
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="header" />

<%block name="title">Stage ${hr.get_stage_number(result)}: ${hr.get_task_description(result)}</%block>

<%
try:
   stage_dir = os.path.join(pcontext.report_dir,'stage%d'%(result.stage_number))

except Exception, e:
   print 'hsd_calsky html template exception:', e
%>

This task generates a sky calibration table, a collection of OFF spectra for single dish data calibration.

<h3>Sky Level vs Frequency</h3>
	% for (title, filename) in plot_list.items():
	<ul>
        <li>
            <a class="replace" href="${os.path.join(dirname, filename)}">${title}</a>
        </li>
    </ul>
    % endfor

