<%!
rsc_path = "../"
import os

import itertools
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.renderer.logger as logger
import pipeline.infrastructure.displays as displays
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="header" />

<%block name="title">Stage ${hr.get_stage_number(result)}: ${hr.get_task_description(result)}</%block>

<%
try:
   stage_number = hr.get_stage_number(result)
   stage_dir = os.path.join(pcontext.report_dir,'stage%d'%(stage_number))
except Exception, e:
   print 'hsd_baseline html template exception:', e
   raise e
%>

<h3>Line Detection by Clustering Analysis</h3>
	% for (title, filename) in plot_list.items():
	<ul>
        <li>
            <a class="replace" href="${os.path.join(dirname, filename)}">${title}</a>
        </li>
    </ul>
    % endfor
