<%!
rsc_path = ""

import os
import pydoc
import numpy as np
import sys

import pipeline.infrastructure as infrastructure
import pipeline.infrastructure.displays as displays
import pipeline.infrastructure.filenamer as filenamer
import pipeline.infrastructure.renderer.logger as logger
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.renderer.rendererutils as hrutils
import pipeline.infrastructure.renderer.sharedrenderer as sharedrenderer

LOG = infrastructure.get_logger(__name__)
%>
<%inherit file="t2-4m_details-base.html"/>
<%block name="header" />

<%block name="title">Flag raw channels</%block>

## generate the plots
<%
try:
    r = result[0]
    stage_dir = os.path.join(pcontext.report_dir, 'stage%d' % (r.stage_number))
    if not os.path.exists(stage_dir):
        os.mkdir(stage_dir)

    plots = []
    for r in result:
        if r.view:
            # display the view first
            # plot() returns the list of Plots it has generated
            LOG.info('Plotting')
            plots.append(displays.ImageDisplay().plot(context=pcontext,
              results=r, reportdir=stage_dir))

    # Group the Plots by axes and plot types; each logical grouping will
    # be contained in a PlotGroup
    plot_groups = logger.PlotGroup.create_plot_groups(plots)
    # Write the thumbnail pages for each plot grouping to disk
    for plot_group in plot_groups:
        renderer = sharedrenderer.PlotGroupRenderer(pcontext, r, plot_group)
        plot_group.filename = renderer.basename
        with renderer.get_file() as fileobj:
            fileobj.write(renderer.render())

except Exception, e:
    print 'hif_tsysflagchans html template exception:', e
    raise e
%>

% if plot_groups:
<h2>Plots</h2>
<ul>
    % for plot_group in plot_groups:
        <li>
               <a class="replace" href="${os.path.join(dirname, plot_group.filename)}">${plot_group.title}</a>
               shows the images used for flagging.
    % endfor
</ul>
% endif

% if htmlreports:
<h2>Flags</h2>
<table class="table table-bordered table-striped">
        <caption>Report Files</caption>
        <thead>
            <tr>
                <th>Flagging Commands</th>
            </tr>
        </thead>
        <tbody>
            % for file,reports in htmlreports.items():
            <tr>
                <td><a class="replace" href="${reports[0]}">${file}</a></td>
            </tr>
            % endfor
        </tbody>
</table>
% endif
