<%!
rsc_path = ""
import os
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="t2-4m_details-base.html"/>
<%block name="header" />

<%block name="title">WVR Calibration and Flagging</%block>

<p>This task checks whether the WVR radiometers are working as intended,
interpolating for antennas that are not. The WVR caltable is only added to 
subsequent pre-applys if it gives a tangible improvement.</p>

<h2>Results</h2>
% if applications:
<table class="table table-bordered" summary="Flagging Results">
	<caption>Flagging results and applications for WVR</caption>
    <thead>
        <tr>
            <th>Measurement Set</th>
			<th>WVR Table</th>
            <th>Interpolated Antennas</th>
			<th>Applied</th>
        </tr>
    </thead>
	<tbody>
% for application in applications:
		<tr>
			<td>${application.ms}</td>
		  	<td>${application.gaintable}
		  	<td>${application.interpolated}</td>
		  	<td><i class="icon-${'ok' if application.applied else 'remove'}"></i></td>
		</tr>
% endfor		
	</tbody>
</table>
% else:
<p>This measurement set does not contain any WVR data.</p>
% endif
 
% if plot_groups:
<h2>Plots</h2>
<ul>
% for plot_group in plot_groups:
	<li><a class="replace" href="${os.path.join(dirname, plot_group.filename)}"}>${plot_group.title}</a></li>
% endfor
</ul>
% endif
