<%!
rsc_path = "../"
import os

import itertools
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.renderer.logger as logger
import pipeline.infrastructure.displays as displays
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="header" />

<%block name="title">Stage ${hr.get_stage_number(result)}: ${hr.get_task_description(result)}</%block>


<ul>
	<li>Initial display: most important details</li>
	<ul>
		<li>Heuristics parameters</li>
		% if plot_groups_list:
		% for i in range(len(plot_groups_list)):
        <li> Iteration ${i} </li>
		<ul>
            <li>Plots</li>
		    <ul>
			% for plot_group in plot_groups_list[i]:
				<li>
					<a class="replace" href="${os.path.relpath(os.path.join(dirname, plot_group.filename), pcontext.report_dir)}">${plot_group.title}</a>
				</li>
			% endfor
			</ul>
			<li>Flag Summaries</li>
			<ul>
            % for name in flag_html_list[i]:
                <li>
                    <a class="replace" href="${os.path.relpath(os.path.join(dirname, name), pcontext.report_dir)}">${name}</a>
                </li>
            % endfor
            </ul>
        </ul>
        % endfor
        % else:
        No Images and Flag Summaries
		% endif
		<li>Images</li>
		<li>Tables</li>
	</ul>
	<li>Display maximum detail in this panel, similar to previous incarnation of pipeline; use different background colour; back button will go back to initial display</li>
</ul>

