<%!
rsc_path = ""
import os
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="t2-4m_details-base.html"/>
<%block name="header" />

<%block name="title">Gain Calibration</%block>

<script src="${self.attr.rsc_path}resources/js/pipeline.js"></script>

<script>
$(document).ready(function() {
    // return a function that sets the SPW text field to the given spw
    var createSpwSetter = function(spw) {
        return function() {
            // trigger a change event, otherwise the filters are not changed
            $("#select-spw").select2("val", [spw]).trigger("change");
        };
    };

    // create a callback function for each overview plot that will select the
    // appropriate spw once the page has loaded
    $(".thumbnail a").each(function (i, v) {
        var o = $(v);
        var spw = o.data("spw");
        o.data("callback", createSpwSetter(spw));
    });

    $(".fancybox").fancybox({
        type: 'image',
        prevEffect: 'none',
        nextEffect: 'none',
        loop: false,
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50,
            }
        }
    });
});
</script>

<p>This task creates gain solutions for each measurement set.</p>

<h2>Results</h2>
<table class="table table-bordered" summary="Application Results">
	<caption>Applied calibrations and parameters used for caltable generation</caption>
    <thead>
        <tr>
            <th scope="col" rowspan="2">Measurement Set</th>
			<th scope="col" colspan="2">Solution Parameters</th>
			<th scope="col" colspan="2">Applied To</th>
            <th scope="col" rowspan="2">Calibration Table</th>
		</tr>
		<tr>
			<th>Type</th>
            <th>Interval</th>
			<th>Scan Intent</th>
			<th>Spectral Windows</th>
        </tr>
    </thead>
	<tbody>
% for application in applications:
		<tr>
			<td>${application.ms}</td>
		  	<td>${application.solint}</td>
		  	<td>${application.calmode}</td>
		  	<td>${application.intent}</td>
		  	<td>${application.spw}</td>
		  	<td>${application.gaintable}</td>
		</tr>
% endfor		
	</tbody>
</table>

% if structure_plots:
<h2>Plots</h2>

%if structure_plots:
	<h3>Phase RMS vs distance to reference antenna</h3>

	<p>Plots are generated per spectral window, with phase RMS data points per antenna and
	correlation as a function of distance from the reference antenna. The phase RMS is calculated
	as the RMS of the phase correction measured over all scans with phase observing intent.</p>

	<p>Click the summary plots to enlarge them.</p> 

	% for ms in structure_plots:
	    <h4>${ms}</h4>
	    <ul class="thumbnails">
	        % for plot in structure_plots[ms]:
	            % if os.path.exists(plot.thumbnail):
	            <li class="span3">
	                <div class="thumbnail">
	                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
	                       class="fancybox"
	                       rel="baseline-${ms}">
	                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
	                             title="Click to show phase RMS vs distance plots for Spectral Window ${plot.parameters['spw']}"
	                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
	                        </img>
	                    </a>
	
	                    <div class="caption">
							<h4>
			                    <a href="${os.path.relpath(os.path.join(dirname, 'phase_structure_%s.html' % ms), pcontext.report_dir)}"
			                       class="replace"
			                       data-spw="${plot.parameters['spw']}">
				                   Spectral Window ${plot.parameters['spw']}
			                    </a>
							</h4>
							
	                        <p>RMS phase vs distance to reference antenna
	                        for spectral window ${plot.parameters['spw']}, 
	                        all antennas.
	                        </p>
	                    </div>
	                </div>
	            </li>
	            % endif
	        % endfor
	    </ul>
	%endfor
%endif

%endif