<%!
rsc_path = "../"
import os

import itertools
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.renderer.logger as logger
import pipeline.infrastructure.displays as displays
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="header" />

<%block name="title">Stage ${hr.get_stage_number(result)}: ${hr.get_task_description(result)}</%block>

<script src="${self.attr.rsc_path}resources/js/pipeline.js"></script>

<script>
$(document).ready(function() {
    // return a function that sets the SPW text field to the given spw
    var createSpwSetter = function(spw) {
        return function() {
            // trigger a change event, otherwise the filters are not changed
            $("#select-spw").select2("val", [spw]).trigger("change");
        };
    };

    // create a callback function for each overview plot that will select the
    // appropriate spw once the page has loaded
    $(".thumbnail a").each(function (i, v) {
        var o = $(v);
        var spw = o.data("spw");
        o.data("callback", createSpwSetter(spw));
    });

    $(".fancybox").fancybox({
        type: 'image',
        prevEffect: 'none',
        nextEffect: 'none',
        loop: false,
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50,
            }
        }
    });
});
</script>

This task generates single dish images per source per spectral window. 
It generates an image combined spectral data from whole antenna as well as images per antenna.

<h3>Profile Map</h3>
% for field in profilemap_summary_subpage.keys():
    <h4><a class="replace"
           href="${os.path.relpath(os.path.join(dirname, profilemap_summary_subpage[field]), pcontext.report_dir)}">${field}</a>
    </h4>
    <ul class="thumbnails">
        % for plot in profilemap_summary_plots[field]:
            % if os.path.exists(plot.thumbnail):
            <li class="span3">
                <div class="thumbnail">
                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
                       class="fancybox"
                       rel="thumbs">
                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
                             title="Sky level summary for Spectral Window ${plot.parameters['spw']}"
                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
                        </img>
                    </a>

                    <div class="caption">
                        <h4>
                            <a href="${os.path.relpath(os.path.join(dirname, profilemap_summary_subpage[field]), pcontext.report_dir)}"
                               class="replace"
                               data-spw="${plot.parameters['spw']}">
                               Spectral Window ${plot.parameters['spw']}
                            </a>
                        </h4>

                        <p>Plot of sky level for spectral
                            window ${plot.parameters['spw']}.
                        </p>
                    </div>
                </div>
            </li>
            % endif
        % endfor
    </ul>
%endfor


<h3>Channel Map</h3>
% for field in channelmap_summary_subpage.keys():
    <h4><a class="replace"
           href="${os.path.relpath(os.path.join(dirname, channelmap_summary_subpage[field]), pcontext.report_dir)}">${field}</a>
    </h4>
    <ul class="thumbnails">
        % for plot in channelmap_summary_plots[field]:
            % if os.path.exists(plot.thumbnail):
            <li class="span3">
                <div class="thumbnail">
                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
                       class="fancybox"
                       rel="thumbs">
                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
                             title="Sky level summary for Spectral Window ${plot.parameters['spw']}"
                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
                        </img>
                    </a>

                    <div class="caption">
                        <h4>
                            <a href="${os.path.relpath(os.path.join(dirname, channelmap_summary_subpage[field]), pcontext.report_dir)}"
                               class="replace"
                               data-spw="${plot.parameters['spw']}">
                               Spectral Window ${plot.parameters['spw']}
                            </a>
                        </h4>

                        <p>Plot of sky level for spectral
                            window ${plot.parameters['spw']}.
                        </p>
                    </div>
                </div>
            </li>
            % endif
        % endfor
    </ul>
%endfor

<h3>Integrated Map (from channel avearged spw)</h3>
% for field in tpmap_summary_subpage.keys():
    <h4><a class="replace"
           href="${os.path.relpath(os.path.join(dirname, tpmap_summary_subpage[field]), pcontext.report_dir)}">${field}</a>
    </h4>
    <ul class="thumbnails">
        % for plot in tpmap_summary_plots[field]:
            % if os.path.exists(plot.thumbnail):
            <li class="span3">
                <div class="thumbnail">
                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
                       class="fancybox"
                       rel="thumbs">
                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
                             title="Sky level summary for Spectral Window ${plot.parameters['spw']}"
                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
                        </img>
                    </a>

                    <div class="caption">
                        <h4>
                            <a href="${os.path.relpath(os.path.join(dirname, tpmap_summary_subpage[field]), pcontext.report_dir)}"
                               class="replace"
                               data-spw="${plot.parameters['spw']}">
                               Spectral Window ${plot.parameters['spw']}
                            </a>
                        </h4>

                        <p>Plot of sky level for spectral
                            window ${plot.parameters['spw']}.
                        </p>
                    </div>
                </div>
            </li>
            % endif
        % endfor
    </ul>
%endfor

<h3>Baseline Rms Map</h3>
% for field in rmsmap_summary_subpage.keys():
    <h4><a class="replace"
           href="${os.path.relpath(os.path.join(dirname, rmsmap_summary_subpage[field]), pcontext.report_dir)}">${field}</a>
    </h4>
    <ul class="thumbnails">
        % for plot in rmsmap_summary_plots[field]:
            % if os.path.exists(plot.thumbnail):
            <li class="span3">
                <div class="thumbnail">
                    <a href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
                       class="fancybox"
                       rel="thumbs">
                        <img src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
                             title="Sky level summary for Spectral Window ${plot.parameters['spw']}"
                             data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
                        </img>
                    </a>

                    <div class="caption">
                        <h4>
                            <a href="${os.path.relpath(os.path.join(dirname, rmsmap_summary_subpage[field]), pcontext.report_dir)}"
                               class="replace"
                               data-spw="${plot.parameters['spw']}">
                               Spectral Window ${plot.parameters['spw']}
                            </a>
                        </h4>

                        <p>Plot of sky level for spectral
                            window ${plot.parameters['spw']}.
                        </p>
                    </div>
                </div>
            </li>
            % endif
        % endfor
    </ul>
%endfor

