<%!
rsc_path = ""
import os
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="title">Flag spws that have no calibration</%block>

<p>Identify and flag spws that have no calibration at this point.</p>

%for single_result in result:
      
        <ul>
            <li>SPWs that have no calibration (first stage): 
            % if single_result.flagspw1 == '':
            <b>None</b>
            % else:
            <b>${single_result.flagspw1}</b>
            % endif
            </li>
            
            <li>SPWs that have no calibration (second stage): 
            % if single_result.flagspw1b == '':
            <b>None</b>
            % else:
            <b>${single_result.flagspw1b} </b>
            % endif
            </li>
            
            <li>SPWs that have no calibration (after final applycal): 
            % if single_result.flagspw2 == '':
            <b>None</b>
            % else:
            <b>${single_result.flagspw2}</b>
            % endif
            </li>
            
        </ul>
%endfor

