<%!
rsc_path = "../"

import os.path
import pydoc
import numpy as np
import sys

import pipeline.infrastructure as infrastructure
import pipeline.infrastructure.casatools as casatools
import pipeline.infrastructure.displays as displays
import pipeline.infrastructure.filenamer as filenamer
import pipeline.infrastructure.renderer.logger as logger
import pipeline.infrastructure.renderer.htmlrenderer as hr
import pipeline.infrastructure.renderer.rendererutils as hrutils

LOG = infrastructure.get_logger(__name__)
%>
<%inherit file="t2-4m_details-base.html"/>
<%block name="header" />

<%block name="title">Stage ${hr.get_stage_number(result)} Task Details</%block>

<h1>Stage ${hr.get_stage_number(result)}: ${hr.get_task_description(result)}</h1>

## generate the plots
<%
try:
    r = result[0]
    stage_dir = os.path.join(pcontext.report_dir, 'stage%d' % (r.stage_number))
    plots_dir = stage_dir
    if not os.path.exists(plots_dir):
        os.mkdir(plots_dir)

    plots = []
    htmlreports = {}
    for r in result:
        if hasattr(r, 'flagcmdfile'):
            reason = r.reason

#            flagcmdhtml = os.path.join(plots_dir, '%s.html' % os.path.basename(
#              r.flagcmdfile))
            flagcmdhtml = os.path.join(plots_dir, '%s.html' % os.path.basename(
              r.table))
            hrutils.renderflagcmds(r.flagcmdfile, flagcmdhtml, reason)

            # now write 'printTsysFlags' output to a report file
#            reporthtml = os.path.join(plots_dir, '%s.report.html' %
#              os.path.basename(r.flagcmdfile))
            reporthtml = os.path.join(plots_dir, '%s.report.html' %
              os.path.basename(r.table))
            hrutils.printTsysFlags(r.table, reporthtml)
#            htmlreports[os.path.basename(r.flagcmdfile)] = (
#              os.path.basename(flagcmdhtml), os.path.basename(reporthtml))
            htmlreports[os.path.basename(r.table)] = (
              os.path.basename(flagcmdhtml), os.path.basename(reporthtml))

        if r.view:
            # display the view first
            # plot() returns the list of Plots it has generated
            LOG.info('Plotting')
            plots.append(displays.ImageDisplay().plot(pcontext, r,
              reportdir=plots_dir))

            # plot Tsys spectra of interest
            for description in r.descriptions():
                spw = r.last(description).spw
                data = r.last(description).data
                flaglast = r.last(description).flag
                flagfirst = r.first(description).flag
                xtitle = r.last(description).axes[0].name
                xdata = r.last(description).axes[0].data
                ytitle = r.last(description).axes[1].name
                ydata = r.last(description).axes[1].data
            
                # get antenna/time of flagged Tsys
                grid = np.indices(np.shape(data))
                flaggrid0 = grid[0][(flagfirst==False) & (flaglast==True)]
                flaggrid1 = grid[1][(flagfirst==False) & (flaglast==True)]

                medians = r.last(description).children.get('tsysmedians')
                tsysspectra = r.first(description).children.get('tsysspectra')
                if medians is not None and tsysspectra is not None:
                    # if the merit position was flagged then display the
                    # tsys overlaid on median tsys

                    # first, find the flagged tsys spectrum
                    for tsys_desc in tsysspectra.descriptions():
                        tsysspectrum = tsysspectra.first(tsys_desc)

                        # plot flagged Tsys spectra
                        for i,fg0 in enumerate(flaggrid0):
                            fg1 = flaggrid1[i]

                            if (tsysspectrum.ant[0], tsysspectrum.time) == \
                              (fg0, ydata[fg1]):

                                # second, find the associated median
                                for median_desc in medians.descriptions():
                                    median_spectrum = medians.first(median_desc)
                                    if median_spectrum.ant is None or \
                                      median_spectrum.ant[0]==tsysspectrum.ant[0]:
                                        plots.append(displays.SliceDisplay().plot(
                                          context=pcontext, results=tsysspectra,
                                          description_to_plot=tsys_desc,
                                          overplot_spectrum=median_spectrum,
                                          reportdir=plots_dir, plotbad=False))
                                        break

    # Group the Plots by axes and plot types; each logical grouping will
    # be contained in a PlotGroup
    plot_groups = logger.PlotGroup.create_plot_groups(plots)
    # Write the thumbnail pages for each plot grouping to disk
    for plot_group in plot_groups:
        renderer = hr.PlotGroupRenderer(pcontext, r, plot_group)
        plot_group.filename = renderer.filename
        with renderer.get_file() as fileobj:
            fileobj.write(renderer.render())

except Exception, e:
    print 'hif_tsysflag html template exception:', e
    raise e
%>
 
% if plot_groups:
<h2>Plots</h2>
<ul>
	% for plot_group in plot_groups:
		% if plot_group.title == 'Time vs Antenna1':
			<li><a href=${plot_group.filename}>${plot_group.title}</a>
                   shows the images used for flagging.</li>
		% elif 'Tsys vs Channel' in plot_group.title:
			<li><a href=${plot_group.filename}>${plot_group.title}</a>
                   shows the Tsys spectra flagged in each image.</li>
       	% endif
	% endfor
</ul>
% endif

% if htmlreports:
<h2>Flags</h2>
<table border="1">
    <tr>
        <td>Flagcmds</td>
        <td>Flagging report</td>
    </tr>
    % for file,reports in htmlreports.items():
    <tr>
        <td><a href=${reports[0]}>${file}</a></td>
        <td><a href=${reports[1]}>printTsysFlags</a></td>
    </tr>
    % endfor
</table>
% endif

