<%!
rsc_path = ""
css_file = "qa2.css"
import os
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>

<style>
svg {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
</style>

<!-- push JSON directly into page, avoiding XHR cross-site domain problems -->
<script> 
	var json='${json}';
	scorehash = JSON && JSON.parse(json) || $.parseJSON(json);	
</script>

<link href="${self.attr.rsc_path}resources/css/select2.css" rel="stylesheet"/>
<link href="${self.attr.rsc_path}resources/css/select2-bootstrap.css" rel="stylesheet"/>
<script src="${self.attr.rsc_path}resources/js/select2.min.js"></script>

<script src="${self.attr.rsc_path}resources/js/d3.v3.min.js"></script>
<script src="${self.attr.rsc_path}resources/tsys.js"></script>

<div class="page-header">
	<h1>T<sub>sys</sub> Plots<button class="btn btn-large pull-right" onClick="javascript:location.reload();">Back</button></h1>
</div>

<div class="column-fluid"> 
	<div class="row-fluid">
		<div class="column-fluid span4">
			<fieldset>
				<legend>Average of Median T<sub>sys</sub> over time</legend>
				<div id="histogram-tsysmedian" class="span12">
			</fieldset>
		</div>
		<div class="column-fluid span4">
			<fieldset>
				<legend>Maximum of Median T<sub>sys</sub> over time</legend>
				<div id="histogram-tsysmedianmax"  class="span12">
			</fieldset>
		</div>
		<div class="column-fluid span4">
			<fieldset>
				<legend>RMS deviation from Average Median T<sub>sys</sub></legend>
				<div id="histogram-tsysrms"  class="span12">
			</fieldset>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="column-fluid span6">
			<div>
			<fieldset>
				<legend>Spectral Window Filter</legend>
				<select id="select-spw" class="select2" multiple style="width:100%" placeholder="Show all spectral windows">
					% for spw in sorted(list(set([p.parameters['spw'] for p in plots]))):
					<option>${spw}</option>
					% endfor
		       	</select>
			</fieldset>
			</div>
		</div>		
	
		<div class="column-fluid span6">
			<div>
			<fieldset>
				<legend>Antenna Filter</legend>
				<select id="select-ant" class="select2" multiple style="width:100%" placeholder="Show all antennas">
					% for ant in sorted(list(set([p.parameters['ant'] for p in plots]))):
					<option>${ant}</option>
					% endfor
		       	</select>
			</fieldset>
			</div>
		</div>		
	</div>
</div>

<br>

<div class="column-fluid">
	<ul class="thumbnails">
	% for plot in sorted(plots, key=lambda p: p.parameters['ant']):
		<li class="span2">
			<div class="thumbnail">
				<a class="fancybox"
				   href="${os.path.relpath(plot.abspath, pcontext.report_dir)}"
				   title="${plot.parameters['ant']} spw ${plot.parameters['spw']}"
				   data-thumbnail="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}">
					<img   src="${os.path.relpath(plot.thumbnail, pcontext.report_dir)}"
						 title="${plot.parameters['ant']} spw ${plot.parameters['spw']}"
						   alt="">
					</img>
				</a>
					<p class="text-center">${plot.parameters['ant']} spw ${plot.parameters['spw']}</p>
			</div>
		</li>
	% endfor
	</ul>
</div>