Source: asap
Section: unknown
Priority: extra
Maintainer: Malte Marquarding <Malte.Marquarding@csiro.au>
Build-Depends: cdbs (>= 0.4.42), debhelper (>= 5.0.37.2), python-setuptools (>= 0.6a9), python-all-dev (>= 2.3.5-11), python-support (>= 0.6.4)
Standards-Version: 3.7.3
Homepage: http://svn.atnf.csiro.au/trac/asap
XS-Python-Version: >= 2.5

Package: asap
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-matplotlib (>= 0.99.1), libboost-python1.34.1, ipython (>= 0.8), python-numpy (>= 1.3),libatlas3gf-base, libblas3gf, liblapack3gf, libgfortran3, libstdc++6
Description: The ATNF Spectral-line Analysis Package
 Blah blah
