<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="../resources/jquery-1.9.1.js"></script>
<script src="../resources/js/purl-2.2.1.js"></script>
<script src="../resources/jquery.fancybox-1.3.1.pack.js"></script>
<script src="../resources/jquery.mousewheel-3.0.2.pack.js"></script>
<link rel="stylesheet" type="text/css" href="../resources/pipeline.css" />
<link rel="stylesheet" type="text/css" href="../resources/jquery.fancybox-1.3.1.css" media="screen" />
<title><%block name="title">Untitled Pipeline Weblog Page</%block></title>
</head>
<body>

${self.body()}

<div class="footer">
<%block name="footer"></%block>
</div>
</body>
</html>
