<%!
import pipeline.domain.measures as measures
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="base.html"/>

<%block name="head">
	${parent.head()}

	<!-- Add jQueryUI tabs -->
	<script src="resources/ui/jquery.ui.core.js"></script>
	<script src="resources/ui/jquery.ui.widget.js"></script>
	<script src="resources/ui/jquery.ui.tabs.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/ui/themes/smoothness/jquery-ui.css">
	
	<script>
	$(function() {
		<% 					
			subtab_names = ', '.join(['#subtabs-%s' % i for i in range(len(mses))])
		%>
		$("#tabs, ${subtab_names}").tabs();
	});
	</script>
</%block>

<%block name="title">Spectral Setup Details</%block>

<h1>Spectral Setup Details</h1>

<div id="tabs">
	<ul>
	% for ms in mses:
		<li><a href="#tabs-${loop.index}">${ms.basename}</a></li>		
	% endfor	
	</ul>
	% for ms in mses:
	<div id="tabs-${loop.index}">
		<div id="subtabs-${loop.index}">
			<ul>
				<li><a href="#subtabs-${loop.index}-science">Science Windows</a></li>
				<li><a href="#subtabs-${loop.index}-all">All Windows</a></li>
			</ul>
			<div id="subtabs-${loop.index}-science">		
				<h2>Science Windows</h2>
				<table class="minimalist" summary="Science Spectral Windows in ${ms.basename}">
					<caption>Spectral Windows with Science Intent in ${ms.basename}</caption>
				    <thead>
				        <tr>
				            <th scope="col">ID</th>
				            <th scope="col">Centre Frequency (GHz)</th>
				            <th scope="col">Bandwidth (MHz)</th>
				            <th scope="col"># Channels</th>
				            <th scope="col">Polarizations</th>
				            <th scope="col">Band</th>
				        </tr>
				    </thead>
					<tbody>
						% for spw in ms.get_spectral_windows(science_windows_only=True):
						<tr>
						  <td>${spw.id}</td>
						  <td>${spw.centre_frequency.to_units(measures.FrequencyUnits.GIGAHERTZ)}</td>
						  <td>${spw.bandwidth.to_units(measures.FrequencyUnits.MEGAHERTZ)}</td>
						  <td>${spw.num_channels}</td>
						  <td>${', '.join(sorted(ms.get_data_description(spw=spw).polarizations))}</td>
						  <td>${spw.band}</td>
						</tr>
						% endfor
					</tbody>
				</table>
			</div>

			<div id="subtabs-${loop.index}-all">
				<h2>All Windows</h2>
				<table class="minimalist" summary="Spectral Windows in ${ms.basename}">
					<caption>All Spectral Windows in ${ms.basename}</caption>
				    <thead>
				        <tr>
				            <th scope="col">ID</th>
				            <th scope="col">Centre Frequency (GHz)</th>
				            <th scope="col">Bandwidth (MHz)</th>
				            <th scope="col">Channels</th>
				            <th scope="col">Band</th>
				            <th scope="col">Polarizations</th>
				            <th scope="col">Intents</th>
				        </tr>
				    </thead>
					<tbody>
						% for spw in ms.get_spectral_windows(science_windows_only=False):
						<tr>
							<td>${spw.id}</td>
						  	<td>${spw.centre_frequency.to_units(measures.FrequencyUnits.GIGAHERTZ)}</td>
						  	<td>${spw.bandwidth.to_units(measures.FrequencyUnits.MEGAHERTZ)}</td>
						  	<td>${spw.num_channels}</td>
						  	<td>${spw.band}</td>
							<%
								dd = ms.get_data_description(spw=spw)
								if dd is None:
									polarizations = ""
								else:
									polarizations = ', '.join(sorted(dd.polarizations))
						  	%>
						  	<td>${polarizations}</td>
						  	<td>${', '.join(sorted([i for i in spw.intents]))}</td>
						</tr>
						% endfor
					</tbody>
				</table>
			</div>
		</div>
	</div>
	% endfor
</div>

<%block name="footer"><a href="t1-2.html">Back to Observation Summary</a></%block>
