<%!
rsc_path = "../"
import os
import pipeline.infrastructure.renderer.htmlrenderer as hr
%>
<%inherit file="t2-4m_details-base.html"/>

<%block name="header" />

<%block name="title">Stage ${hr.get_stage_number(result)} Task Details</%block>

<h1>Stage ${hr.get_stage_number(result)}: ${hr.get_task_description(result)}</h1>

<p>Each antenna was ranked according to a geometric score, based on the distance from the centre of the array, and a flagging score.</p>  

<table class="minimalist" summary="Reference Antennas">
	<caption>Reference Antennas</caption>
	<thead>
		<tr>
			<th>Measurement Set</th>
			<th>Reference Antenna Priority</th>
		</tr>
	</thead>
	<tbody>
%for r in result:
		<tr>
			<td>${os.path.basename(r._vis)}</td>
			## insert spaces in refant list to allow browser to break string
			## if it wants
			<td>${r._refant.replace(',', ', ')}</td>
		</tr>
%endfor
	</tbody>
</table>
